<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b341743f-faf7-4a2b-b143-9e5122574a0d/resourceGroups/RG1/providers/Microsoft.Web/sites/ClothingStock</ResourceId>
    <ResourceGroup>RG1</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clothingstock-h5gjhdesbkfyedgn.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>724f9196-8b5e-483b-b7d3-1264ba31447d</ProjectGuid>
    <MSDeployServiceURL>clothingstock-h5gjhdesbkfyedgn.scm.eastus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClothingStock</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcQsC0HxQgkqJHG9S5FF09gAAAAACAAAAAAAQZgAAAAEAACAAAAAdh/cgI/OaRxGvaXNHp4FehEh2L1oNPcYB0T/3uoscjQAAAAAOgAAAAAIAACAAAABS3zIK6gfU7krTh0u7CWiNaZA1UMXqVPGJxRizPxlFZyAAAABwk5o6E2R/UYwraoLHfaWvT3cG0ToWUZ+IUTj8f65OwEAAAABGhAKBRjWZTiTWn45zpY004CCTxrnNuI23FEXjyyTnCeShtCC+AajZu00UB/SwAc/sUIbh/3njEb16AUtYFMxd</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>