<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b341743f-faf7-4a2b-b143-9e5122574a0d/resourceGroups/RG1/providers/Microsoft.Web/sites/ClothingStock</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clothingstock-h5gjhdesbkfyedgn.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>724f9196-8b5e-483b-b7d3-1264ba31447d</ProjectGuid>
    <MSDeployServiceURL>clothingstock-h5gjhdesbkfyedgn.scm.eastus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClothingStock</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ClothingStock</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcQsC0HxQgkqJHG9S5FF09gAAAAACAAAAAAAQZgAAAAEAACAAAAArafKnM2d1jmxtWMcUVl7iQqh+Mee988ZwxGEnyeixCwAAAAAOgAAAAAIAACAAAAAQorHBE7vwKPpCh05hX3wGx1wtKZki3Mga3+ZcCEY+XYAAAABER79JUrbftJr7OH3KcLdQ6Vkeni6TLqGYQrJ9N47a/ty+KnXMncLauS8iWg/OeulSMhdL5aQiQ4pJA2ue4V1Ji2UvSpkJTWumguVhweeAc7ITijyiCMxm2VbVdqIWFaNXPKY5SE5oPiL98S7liPAClBmEs47cl30Yxf8ZBOUi5UAAAABR4XGWcoxg8AC/8bfd4Xo3lsYzWn9Ci1GjOQk3qvz5ycAGetbGFI5FXR16I/ij165IBlN3Yz0r90NqQ2IbNOSe</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>